*{
    margin: 2px ;
}
.login{
    background-color: aqua;
   
    padding: 200px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.background{
    background: rgba(0,0,0,0.7) url('../img/background.png');
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    height: 100vh;
    color:white;

}
